<div id="busqueda">

  <div class="text-center mb-4">
    <h3>contacto</h3>
  </div>

  <form>
    <div class="form-row">
      <div class="col mb-3 mt-2"><input id="firstName" type="text" class="form-control" placeholder="Nombre">
        <div id="msjError-firstName"></div>
      </div>
      <div class="col mt-2"><input type="text" id="email" class="form-control" placeholder="Email">
        <div id="msjError-email"></div>
      </div>
    </div>
    <div class="form-row">
      <div class="col mb-3"> <textarea class="form-control" id="comments"
          placeholder="Escriba su comentario..."></textarea>
        <div id="msjError-comments"></div>
      </div>
    </div>
    <button type="submit" class="btn btn-secondary btn-block" id="submitButton"
      style="background-color: rgba(51, 51, 51, 0.3)">Enviar</button>

  </form>
</div>